<h1>Editing caminhao</h1>

<%= render "form", caminhao: @caminhao_atual %>

<br>

<div>
  <%= link_to "Show this caminhao", @caminhao_atual %> |
  <%= link_to "Back to caminhaos", caminhaos_path %>
</div>
