<div class="p-5">
  <div class="mb-3">
    <span>
      <i class="fa-solid fa-chevron-left"></i>
      <%= link_to "Back to caminhaos", caminhaos_path %>
    </span>
    <h1 class="text-zinc-800 font-bold text-2xl">Visualizar Caminhaos</h1>
  </div>

  <div class="p-5 bg-white rounded-lg shadow-lg flex justify-between">
    <%= render @caminhao_atual %>

    <div class="flex flex-col gap-3">
      <%= link_to "Edit this caminhao", edit_caminhao_path(@caminhao_atual),  class:"bg-slate-500 text-white rounded py-2 px-3 cursor-pointer transition duration-300 hover:bg-slate-600"  %>

      <%= button_to "Destroy this caminhao", @caminhao_atual, method: :delete, class:"bg-red-500 text-white rounded py-2 px-3 cursor-pointer transition duration-300 hover:bg-red-600" %>
    </div>
  </div>
</div>