<p style="color: green"><%= notice %></p>

<h1>Caminhoes</h1>

<div id="caminhoes">
  <% @caminhoes.each do |caminhao| %>
    <%= render caminhao %>
    <p>
      <%= link_to "Show this caminhao", caminhao %>
    </p>
  <% end %>
</div>

<%= link_to "New caminhao", new_caminhao_path %>
