<div class="p-5">
  <div class="mb-3">
    <span>
      <i class="fa-solid fa-chevron-left"></i>
      <%= link_to "Back to rota", @rotum %>
    </span>
    <h1 class="text-zinc-800 font-bold text-2xl">Editing rotum</h1>
  </div>

  <%= render "form", rotum: @rotum %>
  <br>
</div>