<h1>Editing motorista</h1>

<%= render "form", motorista: @motorista %>

<br>

<div>
  <%= link_to "Show this motorista", @motorista %> |
  <%= link_to "Back to motoristas", motoristas_path %>
</div>
