<div id="rota">
  <% if @rotas.empty? %>
    <p>Nenhuma rota registrada</p>
  <%else%>
    <h1>Rotas de <%= @motorista.nome %>, CPF: <%= @motorista.cpf %></h1>
    <% @rotas.each do |rotum| %>
      <%= render rotum %>
      <div>---</div>
    <% end %>
  <% end %>
</div>