<h1>Rotas with placa: <%= @cpf %></h1>

<div id="rota">
  <% if @rota.empty? %>
    <p>No rotas found</p>
  <%else%>
    <% @rota.each do |rotum| %>
      <%= render rotum %>
    <% end %>
  <% end %>
</div>