<div id="<%= dom_id parada %>">
  <p>
    <strong>Data parada:</strong>
    <%= parada.data_parada %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= parada.endereco_id %>
  </p>

  <p>
    <strong>Caminhao:</strong>
    <%= parada.caminhao_id %>
  </p>

</div>
