<p style="color: green"><%= notice %></p>

<h1>Paradas</h1>

<div id="paradas">
  <% @paradas.each do |parada| %>
    <%= render parada %>
    <p>
      <%= link_to "Show this parada", parada %>
    </p>
  <% end %>
</div>

<%= link_to "New parada", new_parada_path %>
